@font-face {
    font-family: 'casperbold';
    src: url('../fonts/casper_b-webfont.eot');
    src: url('../fonts/casper_b-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/casper_b-webfont.woff2') format('woff2'),
    url('../fonts/casper_b-webfont.woff') format('woff'),
    url('../fonts/casper_b-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'casperbold_italic';
    src: url('../fonts/casper_b_it-webfont.eot');
    src: url('../fonts/casper_b_it-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/casper_b_it-webfont.woff2') format('woff2'),
    url('../fonts/casper_b_it-webfont.woff') format('woff'),
    url('../fonts/casper_b_it-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'casperitalic';
    src: url('../fonts/casper_it-webfont.eot');
    src: url('../fonts/casper_it-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/casper_it-webfont.woff2') format('woff2'),
    url('../fonts/casper_it-webfont.woff') format('woff'),
    url('../fonts/casper_it-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'casperregular';
    src: url('../fonts/casper_r-webfont.eot');
    src: url('../fonts/casper_r-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/casper_r-webfont.woff2') format('woff2'),
    url('../fonts/casper_r-webfont.woff') format('woff'),
    url('../fonts/casper_r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}