/*
 * Globals
 */
@import url('font.css');
/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    top: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
    font-family: "casperbold", "Georgia", sans-serif;
}

body.background1{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body.background2{
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: block;
    position: relative;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    min-height: calc(100% - 100px);
    margin: 50px 0 0 50px;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background: white;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(10,9,10,0.75);
    -moz-box-shadow: 0px 0px 20px 1px rgba(10,9,10,0.75);
    box-shadow: 0px 0px 20px 1px rgba(10,9,10,0.75);
}
#left-sidebar {
    display: block;
    position: absolute;
    width: 210px;
    background-image: url("../img/sitebarBG.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}
#left-sidebar .logo{
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 30px;
}
/** Search **/
#left-sidebar .search{
    position: relative;
    display: block;
    padding: 20px 15px 20px 30px;
}
#left-sidebar .search i.fa{
    position: absolute;
    right: 52px;
    top: 45px;
    font-size: 16px;
    color: rgba(195, 195, 195, 0.6);
    cursor: pointer;
    -webkit-transform: rotate(135deg);
}
#left-sidebar .search input{
    border: 0;
    background-color: transparent;
    color: rgba(195, 195, 195, 0.5);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 3px solid rgba(195, 195, 195, 0.5);
    display: inline-block;
    width: 110px;
    text-align: center;
    outline: none;
    padding: 5px 15px 5px 5px;
    font-size: 15px;
}
#left-sidebar .search input:focus{
    border-bottom: 3px solid rgba(255, 255, 255, 0.85);
    color: rgba(255, 255, 255, 0.95);
    margin-left: 0;
    width: 150px;
}
#left-sidebar .search input:focus + i.fa{
    color: rgba(255, 255, 255, 0.9);
    right: 30px;
    top: 27px;
    -webkit-transform: rotate(0deg);
}
#left-sidebar .search input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }
#left-sidebar .search input:-moz-placeholder { color: rgba(255, 255, 255, 0.5); }
#left-sidebar .search input::-moz-placeholder { color: rgba(255, 255, 255, 0.5); }
#left-sidebar .search input:-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }
#left-sidebar .search input:focus::-webkit-input-placeholder { opacity:0; }
#left-sidebar .search input:focus:-moz-placeholder { opacity:0; }
#left-sidebar .search input:focus::-moz-placeholder { opacity:0; }
#left-sidebar .search input:focus:-ms-input-placeholder { opacity:0; }

/** Menu */
#left-sidebar #main-menu, #left-sidebar #chat-user{
    list-style: none;
    padding-left: 0;
}
#left-sidebar #main-menu:after{
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    margin-top: 20px;
    background: rgba(195, 195, 195, 0.3);
}
#left-sidebar #main-menu li{
    height: 24px;
    cursor: pointer;
    padding-left: 30px;
    padding-top: 2px;
}
#left-sidebar #main-menu li a{
    text-transform: uppercase;
    font-family: "casperbold", "Georgia", sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
#left-sidebar #main-menu li:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
#left-sidebar #main-menu li:hover a{
    color: rgba(255, 255, 255, 0.95);
}




.footer{
    display: block;
    position: relative;
    width: calc(100% - 120px);
    color: white;
    margin-left: 50px;
    padding: 6px 10px;
    height: 38px;
    overflow: hidden;
}
.footer .social .fa{
    font-size: 28px;
}


/** Aimation **/
.animate250{
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}
.animate500{
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -ms-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}
.animate750{
    -webkit-transition: all 750ms ease-in;
    -moz-transition: all 750ms ease-in;
    -ms-transition: all 750ms ease-in;
    -o-transition: all 750ms ease-in;
    transition: all 750ms ease-in;
}
.animate1000{
    -webkit-transition: all 1000ms ease-in;
    -moz-transition: all 1000ms ease-in;
    -ms-transition: all 1000ms ease-in;
    -o-transition: all 1000ms ease-in;
    transition: all 1000ms ease-in;
}