/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
    background-color: #2A1F29;
    top: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: block;
    position: relative;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    min-height: calc(100% - 100px);
    margin: 50px 0 0 50px;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background: white;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(10,9,10,0.75);
    -moz-box-shadow: 0px 0px 20px 1px rgba(10,9,10,0.75);
    box-shadow: 0px 0px 20px 1px rgba(10,9,10,0.75);
}

#left-sidebar {
    display: block;
    position: absolute;
    width: 200px;
    background-image: url("../img/sitebarBG.jpg");
    background-repeat: repeat-x;
    height: 100%;
    background-size: contain;
}









.footer{
    display: block;
    position: relative;
    width: calc(100% - 120px);
    color: white;
    margin-left: 50px;
    padding: 6px 10px;
    height: 38px;
    overflow: hidden;
}
.footer .social .fa{
    font-size: 28px;
}