/*
 * Globals
 */
@import url('font.css');
/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    top: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
    font-family: "casperregular", "Georgia", sans-serif;
}
body * {
    font-family: "casperregular", "Georgia", sans-serif;
}

body.background1{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body.background2{
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: block;
    position: relative;
    width: calc(100% - 90px);
    height: calc(100% - 100px);
    min-height: calc(100% - 100px);
    margin: 50px 0 0 45px;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(10,9,10,0.75);
    -moz-box-shadow: 0px 0px 20px 1px rgba(10,9,10,0.75);
    box-shadow: 0px 0px 20px 1px rgba(10,9,10,0.75);
}
#left-sidebar {
    display: block;
    position: absolute;
    width: 210px;
    background-image: url("../img/sitebarBG.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    z-index: 1;
}
#left-sidebar .logo{
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 30px;
}
/** Search **/
#left-sidebar .search{
    position: relative;
    display: block;
    padding: 20px 15px 20px 30px;
}
#left-sidebar .search i.fa{
    position: absolute;
    right: 52px;
    top: 45px;
    font-size: 16px;
    color: rgba(195, 195, 195, 0.6);
    cursor: pointer;
    -webkit-transform: rotate(135deg);
}
#left-sidebar .search input{
    border: 0;
    background-color: transparent;
    color: rgba(195, 195, 195, 0.5);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 3px solid rgba(195, 195, 195, 0.5);
    display: inline-block;
    width: 110px;
    text-align: center;
    outline: none;
    padding: 5px 15px 5px 5px;
    font-size: 15px;
}
#left-sidebar .search input:focus{
    border-bottom: 3px solid rgba(255, 255, 255, 0.85);
    color: rgba(255, 255, 255, 0.95);
    margin-left: 0;
    width: 150px;
}
#left-sidebar .search input:focus + i.fa{
    color: rgba(255, 255, 255, 0.9);
    right: 30px;
    top: 27px;
    -webkit-transform: rotate(0deg);
}
#left-sidebar .search input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }
#left-sidebar .search input:-moz-placeholder { color: rgba(255, 255, 255, 0.5); }
#left-sidebar .search input::-moz-placeholder { color: rgba(255, 255, 255, 0.5); }
#left-sidebar .search input:-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }
#left-sidebar .search input:focus::-webkit-input-placeholder { opacity:0; }
#left-sidebar .search input:focus:-moz-placeholder { opacity:0; }
#left-sidebar .search input:focus::-moz-placeholder { opacity:0; }
#left-sidebar .search input:focus:-ms-input-placeholder { opacity:0; }

/** Menu */
#main-menu, #chat-user, #rooms{
    list-style: none;
    padding-left: 0;
}
#left-sidebar #chat-user{
    overflow: hidden;
    max-height: calc(100% - 305px);
}
#left-sidebar #main-menu:after{
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    margin-top: 20px;
    background: rgba(195, 195, 195, 0.3);
}
#left-sidebar #main-menu li{
    height: 24px;
    cursor: pointer;
    padding-left: 30px;
    padding-top: 2px;
    position: relative;
}
#left-sidebar #main-menu li a{
    text-transform: uppercase;
    font-family: "casperbold", "Georgia", sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
#left-sidebar #main-menu li .badge{
    vertical-align: inherit;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 50%;
    right: 30px;
    position: absolute;
    color: #DF836F;
    padding: 3px 5px 2px 5px;
    min-width: 18px;
    top: 4px;
}
#left-sidebar #main-menu li:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
#left-sidebar #main-menu li:hover a{
    color: rgba(255, 255, 255, 0.95);
}


#chat-user{
    margin-top: 45px;
}
#chat-user li{
    padding: 10px 0 10px 20px;
    position: relative;
    display: block;
    height: 80px;
    cursor: pointer;
}
#chat-user li:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
#chat-user li .avatar{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 15px;
}
#chat-user li:hover  .avatar{
    border-radius: 15%;
}
#chat-user li .info{
    display: inline-block;
    width: 130px;
    position: absolute;
    left: 67px;
    letter-spacing: 1px;
}
#chat-user li .info .name{
    display: inline-block;
    width: 136px;
    overflow: hidden;
    height: 18px;
    margin-left: -3px;
    padding-left: 3px;
    margin-bottom: -3px;
    border-bottom: 1px solid rgba(236, 236, 236, 0.4);
}
#chat-user li .info .text{
    font-size: 11px;
    text-align: justify;
    line-height: 10px;
    height: 40px;
    overflow: hidden;
    letter-spacing: 0;
}

#site-wrapper-inner{
    left: 210px;
    background: white;
    position: absolute;
    width: calc(100% - 210px);
    height: 100%;
}
#site-wrapper-inner .col-md-4{
    padding-left: 40px;
}
#site-wrapper-inner .page-header{
    height: 70px;
    top: 0;
    margin: 0;
}
#site-wrapper-inner .page-header-name{
    font-size: 26px;
    margin-top: 50px;
}
#site-wrapper-inner .page-header-name .sort{
    float: right;
}
#site-wrapper-inner .page-header-name .sort .btn{
    padding: 6px 8px;
    border-radius: 50%;
    line-height: 1;
    background: white;
    border-color: #C9CED7;
    color: #C9CED7;
}
#site-wrapper-inner .page-header-name .sort .btn:hover{
    border-color: #9399a5;
    color: #9399a5;
}

#rooms .room-head{
    display: block;
    height: 25px;
}
#rooms .room-head .left{
    display: inline-block;
    float: left;
}
#rooms .room-head .right{
    display: inline-block;
    float: right;
}
#rooms .room-users .slider .element{
    display: inline-block;
    height: 95px;
    width: 18%;
    margin: 0 1%;
    background-size: cover;
    background-position: center;
}

#site-wrapper-inner{
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -ms-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}
#site-wrapper-inner .video{
    height: 100%;
}

#site-wrapper-inner .video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 101%;
    width: auto;
    height: auto;
    z-index: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: black;
    background-size: cover;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}

#circle{
    position: absolute;
    top: 0;
    width: calc(100% - 210px);
    height: 100%;
    z-index: 1;
    left: 225px;
}
#circle .col-md-12{
    position: relative;
    height: 100%;
}
#circle .col-md-12:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/bgAdventure.png);
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -ms-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}
#circle .adventure-scale{
    align-content: center;
    align-items: center;
    width: 370px;
    height: 370px;
    left: 50%;
    margin-left: -155px;
    margin-top: -155px;
    top: 50%;
    position: absolute;
}
#circle .adventure-scale svg{
    opacity: 0;
}
#circle:hover .col-md-12:before{
    opacity: 1;
}
#circle:hover .adventure-scale svg{
    opacity: 1;
}
#circle:hover + #site-wrapper-inner{
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
#circle .adventure-timeline {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 320px;
    height: 320px;
    margin: -130px 0 0 -130px;
}

#circle .adventure-timeline .timeline-status {
    position: absolute;
    height: 100%;
    width: 50%;
    overflow: hidden
}

#circle .adventure-timeline .timeline-status .timeline-status-line {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(0deg);
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -ms-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

#circle .adventure-timeline .timeline-status .timeline-status-line:after {
    position: absolute;
    top: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 1000px;
    border: 4px solid #FFFFFF;
    border-radius: 400px
}

#circle .adventure-timeline .timeline-status--left {
    top: 0;
    left: 0
}

#circle .adventure-timeline .timeline-status--left .timeline-status-line {
    right: -100%;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center
}

#circle .adventure-timeline .timeline-status--left .timeline-status-line:after {
    right: 0
}

#circle .adventure-timeline .timeline-status--right {
    top: 0;
    right: 0
}

#circle .adventure-timeline .timeline-status--right .timeline-status-line {
    left: -100%;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center
}

#circle .adventure-timeline .timeline-status--right .timeline-status-line:after {
    left: 0
}

#circle .adventure-timeline {
    -webkit-transition: all .5s cubic-bezier(0.6,-.28,.735,.045);
    transition: all .5s cubic-bezier(0.6,-.28,.735,.045)
}
#circle:hover .adventure-timeline .timeline-status .timeline-status-line{
    transform: rotate(180deg);
}




.footer{
    display: block;
    position: relative;
    width: calc(100% - 120px);
    color: white;
    margin-left: 50px;
    padding: 6px 10px;
    height: 38px;
    overflow: hidden;
}
.footer .social .fa{
    font-size: 28px;
}


/** Aimation **/
.animate250{
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}
.animate500{
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -ms-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}
.animate750{
    -webkit-transition: all 750ms ease-in;
    -moz-transition: all 750ms ease-in;
    -ms-transition: all 750ms ease-in;
    -o-transition: all 750ms ease-in;
    transition: all 750ms ease-in;
}
.animate1000{
    -webkit-transition: all 1000ms ease-in;
    -moz-transition: all 1000ms ease-in;
    -ms-transition: all 1000ms ease-in;
    -o-transition: all 1000ms ease-in;
    transition: all 1000ms ease-in;
}